<div class="container">
    <h2>Log out</h2>
    <div class="content align-left">
        <p class="message">You have succesfully logged out.</p>
        <p id="please-login">Already registered? Please <a href="/login">sign in</a>.</p>
        <p id="please-login">You don't have an account? Please <a href="/register">register</a>.</p>
    </div>
</div>
