<div class="container">
    <h2>Thank you for signing our petition.</h2>
    <div class="content position-relative">
        <p>Might our city become safer.</p>
        <img id="signature" src="{{signature}}"><br>
        <div id="signed-links"class="align-left">
            <a href="/whosigned">See who also signed our petition</a><br>
            <a href="/unsign">Delete your signature</a>
        </div>
        <div id="img-container">
            <img id="granny-img" src="/img/granny-batman.svg">
        </div>
    </div>
</div>
